.inline-editor .input {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    resize: none;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
}

.inline-editor .error_output {
    background-color: #fcc;
    padding: 0 10px;
}

.inline-editor .structure_output {
    width: 100%;
    overflow-x: auto;
    mix-blend-mode: multiply;
}

.open_in_parser_link_wrapper {
    width:80%;
    margin:auto;
    text-align: right;
}

div.multiline-editor .input {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}


div.multiline-editor .error_output {
    background-color: #fdd;
    padding: 0 10px;
}

div.multiline-editor .structure_output {
    width: 100%;
    overflow-x: auto;
}