<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Varhil</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style/master.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style/default-layout.css">
    <link rel="icon" href="{{ site.baseurl }}/image/favicon.svg" type="image/svg+xml">
    <link rel="icon alternate" href="{{ site.baseurl }}/image/favicon.png" type="image/png">
    <script src="{{ site.baseurl }}/script/breadcrumbs.js"></script>
    <script src="{{ site.baseurl }}/script/automarkup.js"></script>
    <script src="{{ site.baseurl }}/script/animations.js"></script>
    <script src="{{ site.baseurl }}/script/parser.js"></script>
    <script src="{{ site.baseurl }}/script/editor.js"></script>
</head>

<body>
    <div id="content" class="content" style="opacity:0;">
        <h1>{{ page.title }}</h1>
        <ul id="breadcrumbs" class="breadcrumbs"></ul>
        {{ content }}
    </div>
    <script>
        window.addEventListener("load", function () {
            animations.pageAnimation();
        });
    </script>
</body>

</html>